network:
  version: 2
  renderer: networkd
  ethernets:
{% for interface in ansible_interfaces if hostvars[inventory_hostname]['ansible_'~interface]['ipv4'] is defined and interface.startswith("e") %}
{% if hostvars[inventory_hostname]['ansible_'~interface]['ipv4']['address'] == hostvars[inventory_hostname].ip %}
    {{ interface }}:
      addresses:
      - {{ hostvars[inventory_hostname]['ansible_'~interface]['ipv4']['address'] }}/32
      match:
        macaddress: {{ hostvars[inventory_hostname]['ansible_'~interface]['macaddress'] }}
      routes:
{% if "loadbalancer" in inventory_hostname %}   
      - to: 10.0.0.0/20
        via: 10.0.0.1
        on-link: true
      nameservers:
        addresses:
        - 8.8.8.8
        - 1.1.1.1
{% else %}
      - to: default
        via: 10.0.0.1
        on-link: true
      nameservers:
        addresses:
        - 8.8.8.8
        - 1.1.1.1
{% endif %}
{% else %}
    {{ interface }}:
      dhcp4: true
      dhcp4-overrides:
        route-metric: 100
{% endif %}
{% endfor %}