apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ hostvars['master01'].ip }}:6443"
    token: "{{ hostvars[inventory_hostname].join_token }}"
    caCertHashes:
      - "{{ hostvars[inventory_hostname].ca_cert_hash }}"
nodeRegistration:
  kubeletExtraArgs:
    node-ip: "{{ hostvars[inventory_hostname].ip }}"
    address: "{{ hostvars[inventory_hostname].ip }}"
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
healthzBindAddress: 127.0.0.1:10256
